numpy==2.0.2
torch==2.5.1
torchaudio==2.5.1
tqdm
einops==0.8.*
nnAudio==0.3.3
soundfile==0.13.1
ctranslate2<4.5.0
faster-whisper==1.1.1
nltk==3.9.1
onnxruntime==1.19
pandas==2.2.2
pyannote-audio>=3.3.2,<4.0.0
transformers==4.48.0
pydub
lameenc
openunmix
dora-search
fastapi
yandex-music